%%本文件定义游戏日志数据库中所需要的一些定义，生成文件logdb与gsFuncellStringDefine文件

{
	getGoodsChangeStr,
	[
		"%%物品来源定义，范围[0,499]",
		{'ItemSourceIntenal', 0, "内部初始化"},
		{'ItemSourceBag', 1, "背包移动获得"},
		{'ItemSourceStorage', 2, "仓库移动获得"},
		{'ItemSourceBodyEquip', 3, "装备移动获得"},
		{'ItemSourceRecycle', 4, "回收站移动获得"},
		{'ItemSourceMail', 5, "邮件得到物品"},
		{'ItemSourceTask', 6, "任务得到物品"},
		{'ItemSourceTaskCollect', 7, "任务采集得到物品"},
		{'ItemSourceKillMonster', 8, "杀怪得到物品"},
		{'ItemSourceShop', 9, "商店购买得到物品"},
		{'ItemSourceMall', 10, "商城购买得到物品"},
		{'ItemSourceOpenPackage', 11, "开包裹、礼包得到物品"},
		{'ItemSourceNormalCollect', 12, "普通采集得到物品"},
		{'ItemSourceGemOff', 13, "宝石镶嵌拆卸得到物品"},
		{'ItemSourceGemMake', 14, "宝石合成得到物品"},
		{'ItemSourceExchange', 15, "资源兑换得到物品"},
		{'ItemSourceGM', 16, "GM指令获得"},
		{'ItemSourceSplit', 17, "道具拆分得到"},
		{'ItemSourceRollBack', 18, "道具扣除失败，回滚得到"},
		{'ItemSourceSystem', 19, "系统免费发放"},
		{'ItemSourceFuncell2Ls', 20, "平台后台所发邮件"},
		{'ItemSourcePassCopyMap', 21, "通关副本奖励"},
		{'ItemSourceActiveCode', 22, "激活码领取"},
		{'ItemSourceBagEmptyMail', 23, "背包容易不够时发送邮件"},
		{'ItemSourceSignIn', 24, "签到奖励道具"},
		{'ItemSourceChangeMail', 25, "玩家提取附件"},
		{'ItemSourceBuySend', 26, "商城购买赠送"},
		{'ItemSourceRank', 27, "排行榜奖励"},
		{'ItemSourceLuckDraw', 28, "幸运币抽奖奖励"},
		{'ItemSourceHDBattle', 29, "混沌战场击杀boss伤害最高奖励"},
		{'ItemSourceDigTreasrue', 30, "藏宝图挖宝奖励"},
		{'ItemSourceRechargeAward', 31, "充值活动奖励"},
		{'ItemSourceMonthCardAward', 32, "月卡奖励"},
		{'ItemSourceVipLevelAward', 33,"爵位等级奖励"},
		{'ItemSourceCSCreateCompanionReward', 34,"CServer创建的灵魂伙伴奖励道具"},
		{'ItemSourceMonthCardService', 35,"月卡服务购买"},
		{'ItemSourceGuildCopyAward', 36,"军团副本获得"},
		{'ItemSourceBossActivityGiveIPadItem', 37,"首领入侵活动奖励ipad道具兑换币"},
		{'ItemWorldBossItemEmail', 38,"首领入侵活动奖励邮件"},
		{'ItemAccountWelfare', 39,"帐号福利邮件"},
		{'ItemLoginWelfare', 40,"玩家登录福利邮件"},
		{'ItemSweepingCopyMap', 41,"低级副本扫荡获得"},
		{'ItemSourceGuildBattleAward', 42,"军团联赛获得"},
		{'ItemSourceWarriorTrial', 43,"勇士试炼获得"},
		{'ItemSourceRechargeRebate', 44,"充值返利物品"},
		{'ItemSourceMSShopItem', 45,"从神秘商店中购买物品"},
		{'ItemSourceOperateAcItem', 46,"运营活动掉落物品"},
		{'ItemSourceKingBattleAll', 47,"王者战天下活动中购买"},
		{'ItemSourceUpdateResource', 48, "更新资源获得物品"},
		{'ItemSourceKingBattleAllAward', 49, "王者战天下奖励物品"},
		{'ItemSourceOperateExchange', 50, "运营兑换活动兑换所得"},
		{'ItemSourceArenaLadder1v1', 51, "竞技场天梯1v1周结算奖励"},
		{'ItemSourceKnightBuy', 52, "爵位购买获得"},
		{'ItemSourceAnswerReward', 53, "幸运答题抢答王奖励"},
		{'ItemSourcePetPveSweep', 54, "宠物远征副本扫荡"},
		{'ItemSourcePetPveOver', 55, "宠物远征副本通关"},
		{'ItemSourceWildBoss', 56, "野外boss奖励"},
		{'ItemSourceOPChargeGift', 57, "运营充值活动奖励"},
		{'ItemSourceOPUseGift', 58, "运营非绑定钻石消费活动奖励"},
		{'ItemSourceWarriorRank', 59, "勇者试炼排行奖励"},
		{'ItemSourceLottery', 60, "抽奖获得"},
		{'ItemSourcePetPvpBattle', 61, "宠物争夺战获得"},
		{'ItemSourceGuildWar', 62, "军团争霸获得"},
		{'ItemSourceDarkness', 63, "黑暗之地获得奖励"},
		{'ItemSourceCrosHdBattle', 64, "跨服混沌战场每日奖励"},		
		{'ItemSourceLiveness',65,"活跃奖励"},
		{'ItemSourceWeekCrosHdBattle',66,"跨服混沌战场每周奖励"},
		{'ItemSourceAwardGiveMark',67,"日本评分后的奖励"},
		{'ItemSourceGuildHomeReward',68,"军团工资道具奖励"},
		{'ItemSourceGuildHomeTask',69,"军团驻地任务道具奖励"},
		{'ItemSourceCrosArenaReward', 70, "跨服竞技场每场奖励"},
		{'ItemSourceWeekCrosArenaReward', 71, "跨服竞技场每周奖励"},
		{'ItemSourceLimitSales',72,"限时推送购买"},
		{'ItemSourceBuyItem',73,"直接购买物品"},
		{'ItemSourceBuyPlayerLevelReward',74,"等级礼包奖励"},
		{'ItemSourceDailySignInReward',75,"每日签到奖励"},
		{'ItemSourceDailyAccReward',76,"累计签到奖励"},
		{'ItemSourceOnlineReward',77,"在线奖励"},
		{'ItemSourceFindRes',78,"资源找回"},
		{'ItemSourceSevenDayMission',79, "七日任务"},
		{'ItemSourceAngelInvestment',80, "天使投资"},
		{'ItemSourceWorldLevel',81, "世界等级礼包奖励"},
		{'ItemSourceGuildExpeditionScore',82, "帮会沙盘当日积分奖励"},
		{'ItemSourceGuildExpeditionEveryDay',83, "帮会沙盘每日奖励"},
		{'ItemSourceLotteryForTower',84, "金宝塔"},
		{'ItemSourceRuneCompound',85, "符文合成掉落"},
		{'ItemSourceCareerReward',86, "新建职业奖励"},
		{'ItemSourceMarriageDailyPrize',87, "已婚人士每日上线奖励"},
		{'ItemSourceACLSBattlefield',88, "乱世为王战场奖励"}
		],

	[
		"%%物品变更定义，范围[500,999]",
		{'ItemUseReasonPlayer', 500, "玩家使用消耗"},
		{'ItemUseReasonMount', 501, "坐骑使用消耗"},
		{'ItemDeleteReasonPlayer', 502, "玩家删除消耗"},
		{'ItemDeleteReasonRecycle', 503, "回收站满了消耗"},
		{'ItemDeleteReasonResolve', 504, "装备分解消耗"},
		{'ItemDeleteReasonExchange', 505, "资源兑换消耗"},
		{'ItemDeleteReasonGemMake', 506, "宝石合成消耗"},
		{'ItemDeleteReasonUsed', 507, "使用完消耗"},
		{'ItemDeleteReasonMove', 508, "物品移动消耗"},
		{'ItemDeleteReasonTrade', 509, "交易行变更消耗"},
		{'ItemDeleteReasonSort', 511, "物品整理消耗"},
		{'ItemDeleteReasonGemOn', 512, "物品镶嵌消耗"},
		{'ItemDeleteReasonAwaken', 514, "升级觉醒消耗"},
		{'ItemDeleteReasonUseSkill', 515, "使用技能消耗"},
		{'ItemDeleteReasonRecast', 517, "装备重铸"},
		{'ItemDeleteReasonTreasure', 518, "藏宝图挖宝"},
		{'ItemDeleteReasonRefine', 519, "装备精炼"},
		{'ItemDeleteReasonWake', 520, "觉醒消耗"},
		{'ItemDeleteReasonPetSkillCast', 521, "宠物技能洗炼"},
		{'ItemDeleteReasonPetUpStar', 522, "宠物升星"},
		{'ItemDeleteReasonPetEquipStr', 523, "宠物装备强化"},
		{'ItemDeleteReasonPetReName', 524, "宠物改名"},
		{'ItemDeleteReasonMail',525,"邮件提取"},
		{'ItemDeleteReasonPetRaw', 526, "宠物转生"},
		{'ItemDeleteReasonGodWeaponUnLock', 527, "神器解锁"},
		{'ItemDeleteReasonGodWeaponLevelup', 528, "神器升级"},
		{'ItemDeleteReasonGodSkillLevelup', 529, "神器技能升级"},
		{'ItemDeleteReasonOperateExchange', 530, "运营兑换活动消耗"},
		{'ItemDeleteReasonEscort', 531, "护送活动消耗"},
		{'ItemDeleteReasonAddPetAtta', 532, "宠物提升属性消耗"},
		{'ItemDeleteReasonModifyGuildName', 533, "军团改名消耗"},
		{'ItemDeleteReasonEquipUpStar', 534, "装备升星"},
		{'ItemDeleteReasonExpired', 535, "时间过期"},
		{'ItemDelelteReasonException', 536, "由于数据异常导致的道具删除"},
		{'ItemDeleteReasonEqupmentCombin', 537, "装备合成消耗"},
		{'ItemDeleteReasonRevokeItem', 538, "扣回物品"},
		{'ItemDeleteReasonUpSkillItem', 539, "升级技能消耗物品"},
		{'ItemDeleteReasonRuneCompound', 540, "符文合成消耗"},
		{'ItemDeleteReasonUseSkillBook', 541, "使用宠物技能书"},
		{"\n\t?ERROR_OUT(\"getGoodsChangeStr:unknow[~w] ~p\",[Reason, misc:getStackTrace()]),\n\t\"未知\"."}
	]
}.

{
	getCoinChangeResonStr,
	[
		"%%货币来源范围[1000,2000]",
		{'CoinSourceMail', 1001, "邮件获得"},
		{'CoinSourceOnlineGM', 1002, "GM指令获得"},
		{'CoinSourceTask', 1003, "任务获得"},
		{'CoinSourceEquipResolve', 1004, "装备分解获得"},
		{'CoinSourceUseItem', 1005, "使用道具获得"},
		{'CoinSourceCopyMapReward', 1006, "副本通关奖励得到"},
		{'CoinSourceCreateRecycle', 1007, "出售到回收站"},
		{'CoinSourceRecharge', 1008, "玩家充值"},
		{'CoinSourceActivity', 1009, "混沌战场获利荣誉"},
		{'CoinSourceAchieve', 1010, "成就得到"},
		{'CoinSourceMallSend', 1011, "商城购买赠送"},
		{'CoinSource4PreRechargeBack', 1012, "预充值币返还"},
		{'CoinSourceGuildContri', 1013, "军团捐献获得"},
		{'CoinSourceWarriorTrial', 1014, "勇士试炼获得"},
		{'CoinSourceRechargeRebate', 1015, "充值返利绑定砖石"},
		{'CoinSourceAnswerReward', 1016, "玩家答题获得"},
		{'CoinSourceOperateExchange', 1017, "运营兑换活动兑换获得"},
		{'CoinSourceVipBuySend', 1018, "爵位购买赠送"},
		{'CoinSourceEscort', 1019, "护送奖励"},
		{'CoinSourcePetPveReward', 1020, "远征副本通关领取"},
		{'CoinSourcePetPveSweep', 1021, "远征副本扫荡领取"},
		{'CoinSourcePetPveStar', 1022, "远征副本星星数量领取"},
		{'CoinSourceLadder', 1023, "天梯系统获得"},
		{'CoinSourceLottery', 1024, "抽奖获得"},
		{'CoinSourceDarkness', 1025, "黑暗之地获得水晶"},
		{'CoinSourcePetPvpReward', 1026, "远征争夺战胜利领取"},
		{'CoinSourceGuildHomeReward', 1027, "军团工资奖励"},
		{'CoinSourceGuildHomeTask', 1028, "军团驻地任务奖励"},
		{'CoinSourceGrowUpForKorea', 1029, "韩国成长礼包"},
		{'CoinSourceFindRes', 1030, "资源找回"},
		{'CoinSourceGetRed', 1031, "领取红包"},
		{'CoinSourceMarriageEngage',  10032, "姻缘：主动解除婚约补偿"},
		{'CoinSourceMarriageEngageSys',  10033, "姻缘：系统解除婚约补偿"}
	],

	[
		"%%货币消耗范围[10001,...]",
		{'CoinUseEquipResolve', 10001, "装备分解消耗"},
		{'CoinUseEquipEnhance', 10002, "装备强化消耗"},
		{'CoinUseShop', 10003, "商店购买消耗"},
		{'CoinUseSkillLearn', 10004, "技能学习消耗"},
		{'CoinUseTradeFee', 10005, "交易行手续费消耗"},
		{'CoinUseTradeBuy', 10006, "交易行购买消耗"},
		{'CoinUseEquipExchange', 10007, "资源兑换消耗"},
		{'CoinUseFeedMount', 10008, "喂养坐骑消耗"},
		{'CoinUseStrPetEquip', 10009, "宠物装备升级消耗"},
		{'CoinUseBackToRecycle', 10010, "回收站回购消耗"},
		{'CoinUseStrPetBagSlot', 10011, "解锁背包格子消耗"},
		{'CoinUseAwakenUpgrade', 10012, "升级觉醒消耗"},
		{'CoinUseCreateGuild', 10013, "创建公会消耗"},
		{'CoinUseGemMix', 10014, "宝石合成"},
		{'CoinUseFashionClothes', 10015, "购买时装"},
		{'CoinUseEquipRecast', 10016, "装备重铸"},
		{'CoinUseGuildDonate', 10017, "军团捐献"},
		{'CoinUseEquipRefine',10018, "装备精炼"},
		{'CoinUseEquipHonor',10019, "装备荣誉"},
		{'CoinUseWakeUp',10020, "觉醒成长"},
		{'CoinUseMonthCardService',10021, "购买月卡服务"},
		{'CoinUsePetSkillCast',10022, "宠物技能洗炼"},
		{'CoinUseCreateCompanion',10023, "创建灵魂伙伴团队"},
		{'CoinUsePetUpStar',10024, "宠物升星"},
		{'CoinUseLowCopyMapAuto',10025, "低级副本扫荡消耗"},
		{'CoinUseMSShopBuyItem',10026, "从神秘商店中购买商品"},
		{'CoinUseGetOfflineExp',10027, "领取离线经验消耗"},
		{'CoinUseLadder1v1',10028, "天梯1v1挑战"},
		{'CoinUseKingBattleAll',10029, "王者战天下活动消耗"},
		{'CoinUseGodWeaponLevelUp',10030, "神器升级"},
		{'CoinUseGodWeaponSkillLevelUp',10031, "神器技能升级"},
		{'CoinUseGodKnightBuy',10032, "爵位购买消耗"},
		{'CoinUsePetPvePhy',10033, "宠物远征体力购买"},
		{'CoinUseMSShopFresh',10034, "玩家主动刷新神秘商店"},
		{'CoinUseEquipUpStar',10035, "装备升星"},
		{'CoinUseRevive',10036, "复活消耗"},
		{'CoinUseLottery',10037, "抽奖消耗"},
		{'CoinUsePetAtta',10038, "宠物属性洗练"},
		{'CoinUseDarkness',10039, "黑暗之地失去"},
		{'CoinUseMall', 10040, "商城购买消耗"},
		{'CoinUseReName', 10041, "红名惩罚消耗"},
		{'CoinUseGuildSkill', 10042, "学习军团技能"},
		{'CoinUseGuildBuff', 10043, "购买军团BUFF"},
		{'CoinUseWing',		 10044, "翅膀升级消费"},
		{'CoinUseRevokeMoney',		 10045, "扣回钻石"},
		{'CoinUseSignInMoney',		 10046, "补签钻石消耗"},
		{'CoinUseSkillUp',		 10047, "技能升级消耗"},
		{'CoinUseGuildImpeach',		 10048, "军团弹劾"},
		{'CoinUseFindRes',		 10049, "资源找回"},
		{'SevenDayMission',		 10050, "七日任务"},
		{'AngelInvestment',		 10051, "天使投资"},
		{'CoinUseRune',		 10052, "符文消耗，洗炼，熔炼，合成均用此"},
		{'LotteryForTower',	 10053, "金宝塔抽奖"},
		{'CoinUseSendRed',	 10054, "发送红包"},
		{'CoinUseMarriageEngage',  10055, "姻缘：建立婚约"},
		{'CoinUseMarriageBreakForcibly',  10056, "姻缘：强制离婚"},
		{'CoinUseMarriageWeddingFlower',  10057, "姻缘：婚礼鲜花"},
		{'CoinUseMarriageWeddingCandy',  10058, "姻缘：婚礼糖果"},
		{'CoinUseLoopTask',  10059, "一键完成环任务"},
		{'CoinUsePetPvpReel',10060, "宠物争夺令购买"},
		{"\n\t?ERROR_OUT(\"getCoinChangeResonStr:unknow[~w] ~p\",[Reason, misc:getStackTrace()]),\n\t\"未知\"."}
	]
}.

{
	getCoinTypeStr,
	[
		"%%_funcell log 需要货币类型的中文",
		{'CoinTypeGold', "金币"},
		{'CoinTypeBindGold', "绑定金币"},
		{'CoinTypeDiamond', "钻石"},
		{'CoinTypePrestige', "声望"},
		{'CoinTypeHonor', "荣誉值"},
		{'CoinTypeBindDiamond', "绑定钻石币"},
		{'CoinTypePurpleEssence', "紫色精华"},
		{'CoinTypeGoldenEssence', "金色精华"},
		{'CoinTypeExploit', "功勋"},
		{'CoinTypeScore', "积分"},
		{'CoinTypePebble', "魔能水晶-黑暗之地"},
		{"\n\t?ERROR_OUT(\"getCoinTypeStr:unknow[~w] ~p\",[Reason, misc:getStackTrace()]),\n\t\"未知\"."}
	]
}.

%%仅在logdb文件中生成内容
{
	setOnlydefine,
	[
		"%%玩家经验来源",
		{'ExpSourceKillMonster', 1, "杀怪得到经验"},
		{'ExpSourceUseItem', 2, "使用道具得到经验"},
		{'ExpSourceTask', 3, "完成任务得到经验"},
		{'ExpSourceCopyMap', 4, "副本通关得到经验"},
		{'ExpSourceGM', 5, "使用GM命令"},
		{'ExpSourceOfflineExp', 6, "领取离线经验"},
		{'ExpSourceAnswerPlay', 7, "答题得到经验"},
		{'ExpSourcePetPve', 8, "宠物远征得到经验"},
		{'ExpSourcePetPvp', 9, "宠物争夺战得到经验"},
		{'ExpSourceGuildHomeReward', 10, "军团工资经验"},
		{'ExpSourceGuildHomeTask', 11, "军团驻地任务经验"},
		{'ExpSourceFindRes', 12, "资源找回"},
		{'ExpSourceLSBattle',13,"乱世为王经验奖励"}
	],
	[
		"%%玩家经验去向",
		{'ExpOutTalentLevelUp', 1, "天赋升级使用"}
	],
	[
		"%%玩家称号来源",
		{'TitleSourceGeneralScroll', 1, "使用普通卷轴随机获得"},
		{'TitleSourceSpecialScroll', 2, "使用特殊卷轴获得"},
		{'TitleSourceGM', 3, "通过GM指令获得"},
		{'TitleSourceAchieve', 4, "完成成就获得"}
	],

	[
		"%%物品属性变化",
		{'GoodsFieldChange_OwnerID', 1, "拥有者变化(RoleID)"},
		{'GoodsFieldChange_BagType', 2, "背包栏位(p)"},
		{'GoodsFieldChange_PileNum', 3, "数量(pileNum)"},
		{'GoodsFieldChange_IsBind', 4, "绑定(isBind)"},
		{'GoodsFieldChange_EnhLevel', 5, "强化等级(curEnhLevel)"},
		{'GoodsFieldChange_Quality', 6, "品质(quality)"},
		{'GoodsFieldChange_Deleted', 7, "销毁(deleteTim)"}
	],

	[
		"%%功能体验统计type",
		{'FunType_Task', "任务"},
		{'FunType_CheckPoint', "关卡"},
		{'FunType_Activity', "活动"},
		{'FunType_Daily', "日常"}
	]
}.
