%%目录的配置
{dir_config,{work_dir, "."}, %%工作目录
 {target_dir, "e:/TrunkPackage"}, %%目标目录，只能有一层，或者最后一层前的文件夹存在，不然创建失败
 {smallpack_target_dir, "./smallpack"}
}.

%%打整包配置
{pack_config,
 [{server_full_install, %%服务器名
  {node_name, "@10.1.14.84"},%%节点名
  {monitor_ip, "54.223.143.87"},%%gs监听IP
  {monitor_port, "6789"},%%gs监听端口
  [{commonserver,
   [{{child_dir, "commonserver/data"}, {copy_ext, [".+\\.app","CommonServer+\\.txt","CommonServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
    {{child_dir, "commonserver/ebin"}, {copy_ext, [".+\\.beam"]}},
    {{child_dir, "commonserver/script"}, {copy_ext, [".+\\.sh", "reload+\\.erl", "stop_server+\\.erl"]}}],
   {server_config,
    {{temp_config, "commonserver/data/CommonServer.txt.tmp"},
     {use_config, "commonserver/data/CommonServer.txt"},%%要修改的配置文件
	 {app_config, "commonserver/data/commonserver.app"},
     {package_name, "Install.tar.bz2"},%%打包名
     {package_folder, "commonserver"}}}%%文件夹名
  },
   {dbserver,
    [{{child_dir, "dbserver/data"}, {copy_ext, [".+\\.app","DBServer+\\.txt","DBServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
     {{child_dir, "dbserver/ebin"}, {copy_ext, [".+\\.beam"]}},
     {{child_dir, "dbserver/script"}, {copy_ext, [".+\\.sh", ".+\\.erl", ".+\\.beam"]}}],
    {server_config,
     {{temp_config, "dbserver/data/DBServer.txt.tmp"},
      {use_config, "dbserver/data/DBServer.txt"},%%要修改的配置文件
	  {app_config, "dbserver/data/dbserver.app"},
      {package_name, "Install.tar.bz2"},%%打包名
      {package_folder, "dbserver"}}}%%文件夹名
   },
   {gameserver,
    [{{child_dir, "gameserver/data"}, {copy_ext, [".+\\.app","GameServer+\\.txt","GameServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
     {{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}},
     {{child_dir, "gameserver/script"}, {copy_ext, [".+\\.sh", "reload+\\.erl", "stop_server+\\.erl"]}}
     %%{{child_dir, "gameserver/data/maps"}, {copy_ext, [".+\\.bytes"]}}
		 ],
    {server_config,
     {{temp_config, "gameserver/data/GameServer.txt.tmp"},
      {use_config, "gameserver/data/GameServer.txt"},%%要修改的配置文件
	  {app_config, "gameserver/data/gameserver.app"},
      {package_name, "Install.tar.bz2"},%%打包名
      {package_folder, "gameserver"}}}%%文件夹名
   },
   {funcell,
    [{{child_dir, "funcell/data"}, {copy_ext, [".+\\.app"]}},%%拷贝的路径和文件正则规则配置
     {{child_dir, "funcell/ebin"}, {copy_ext, [".+\\.beam"]}},
     {{child_dir, "funcell/script"}, {copy_ext, [".+\\.sh", "reload+\\.erl", "stop_server+\\.erl"]}}],
    {server_config,
     {{temp_config, ""},
      {use_config, ""},%%要修改的配置文件
	  {app_config, "funcell/data/funcell.app"},
      {package_name, "Install.tar.bz2"},%%打包名
      {package_folder, "funcell"}}}%%文件夹名
   },
   {loginserver,
    [{{child_dir, "loginserver/data"}, {copy_ext, [".+\\.app","LoginServer+\\.txt","LoginServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
     {{child_dir, "loginserver/ebin"}, {copy_ext, [".+\\.beam"]}},
     {{child_dir, "loginserver/script"}, {copy_ext, [".+\\.sh", "reload+\\.erl", "stop_server+\\.erl"]}}],
    {server_config,
     {{temp_config, "loginserver/data/LoginServer.txt.tmp"},
      {use_config, "loginserver/data/LoginServer.txt"},%%要修改的配置文件
	  {app_config, "loginserver/data/loginserver.app"},
      {package_name, "Install.tar.bz2"},%%打包名
      {package_folder, "loginserver"}}}%%文件夹名
   }]},


  {server_full_update, %%服务器名
   {node_name, "@10.1.14.84"},%%节点名
   {monitor_ip, "54.223.143.87"},%%gs监听IP
	{monitor_port, "6789"},%%gs监听端口
   [{commonserver,
    [{{child_dir, "commonserver/data"}, {copy_ext, [".+\\.app","CommonServer+\\.txt","CommonServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
     {{child_dir, "commonserver/ebin"}, {copy_ext, [".+\\.beam"]}}],
    {server_config,
     {{temp_config, "commonserver/data/CommonServer.txt.tmp"},
      {use_config, "commonserver/data/CommonServer.txt"},%%要修改的配置文件
	  {app_config, "commonserver/data/commonserver.app"},
      {package_name, "update.tar.bz2"},%%打包名
      {package_folder, "commonserver"}}}%%文件夹名
   },
    {dbserver,
     [{{child_dir, "dbserver/data"}, {copy_ext, [".+\\.app","DBServer+\\.txt","DBServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
      {{child_dir, "dbserver/ebin"}, {copy_ext, [".+\\.beam"]}}],
     {server_config,
      {{temp_config, "dbserver/data/DBServer.txt.tmp"},
       {use_config, "dbserver/data/DBServer.txt"},%%要修改的配置文件
	   {app_config, "dbserver/data/dbserver.app"},
       {package_name, "update.tar.bz2"},%%打包名
       {package_folder, "dbserver"}}}%%文件夹名
    },
    {gameserver,
     [{{child_dir, "gameserver/data"}, {copy_ext, [".+\\.app","GameServer+\\.txt","GameServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
      {{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}},
      {{child_dir, "gameserver/data/maps"}, {copy_ext, [".+\\.bytes"]}}],
     {server_config,
      {{temp_config, "gameserver/data/GameServer.txt.tmp"},
       {use_config, "gameserver/data/GameServer.txt"},%%要修改的配置文件
	   {app_config, "gameserver/data/gameserver.app"},
       {package_name, "update.tar.bz2"},%%打包名
       {package_folder, "gameserver"}}}%%文件夹名
    },
    {funcell,
     [
      {{child_dir, "funcell/data"}, {copy_ext, [".+\\.app"]}},%%拷贝的路径和文件正则规则配置
      {{child_dir, "funcell/ebin"}, {copy_ext, [".+\\.beam"]}}],
     {server_config,
      {{temp_config, ""},
       {use_config, ""},%%要修改的配置文件
	   {app_config, "funcell/data/funcell.app"},
       {package_name, "update.tar.bz2"},%%打包名
       {package_folder, "funcell"}}}%%文件夹名
    },
    {loginserver,
     [
      {{child_dir, "loginserver/data"}, {copy_ext, [".+\\.app","LoginServer+\\.txt","LoginServer+\\.txt.tmp"]}},%%拷贝的路径和文件正则规则配置
      {{child_dir, "loginserver/ebin"}, {copy_ext, [".+\\.beam"]}}],
     {server_config,
      {{temp_config, "loginserver/data/LoginServer.txt.tmp"},
       {use_config, "loginserver/data/LoginServer.txt"},%%要修改的配置文件
	   {app_config, "loginserver/data/loginserver.app"},
       {package_name, "update.tar.bz2"},%%打包名
       {package_folder, "loginserver"}}}%%文件夹名
    }]}
 ]}.


%%打散包配置
{pack_small_config,
 [{commonserver,
 [{{child_dir, "commonserver/ebin"}, {copy_ext, [".+\\.beam"]}}],
  {server_config, {package_folder, "commonserver"}%%文件夹名
  }},
  {dbserver,
   [{{child_dir, "dbserver/ebin"}, {copy_ext, [".+\\.beam"]}}],
   {server_config, {package_folder, "dbserver"}%%文件夹名
   }},
  {gameserver, 
  [{{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}}
	%%,{{child_dir, "gameserver/data/maps"}, {copy_ext, [".+\\.bytes"]}}
	],
   {server_config, {package_folder, "gameserver"}%%文件夹名
   }},
  {funcell,
   [{{child_dir, "funcell/ebin"}, {copy_ext, [".+\\.beam"]}}],
   {server_config, {package_folder, "funcell"}%%文件夹名
   }},
  {loginserver,
   [{{child_dir, "loginserver/ebin"}, {copy_ext, [".+\\.beam"]}}],
   {server_config, {package_folder, "loginserver"}%%文件夹名
   }}
 ]
}.


